<div class="mission-wrapper position-relative">
    <div class="position-absolute rating d-inline-flex p-1 color-light px-2 py-1 align-items-center">
        <i class="material-icons mr-1 text-sm ">star</i>
        <span class="text-sm">4</span>
    </div>
    <div class="mission-thumbnail">
        <img class="img-responsive" draggable="false" [src]="productInfo?.productImage" alt="product-image">
    </div>
    <div class="mission-detail">
        <h4 class="mission-title">{{ productInfo?.productName || 'N.A'}}</h4>
        <ul class="list-item">
            <li class="mb-1">
                <span class="text-base color-dark fw-500">{{ productInfo?.rsp }}</span>
                <s class="text-sm text-muted mx-1">{{ productInfo?.mrp }}</s>
                <span class="text-sm fw-500 color-success">{{ productInfo?.discount}}% off</span>
            </li>
            <li class="list-items">
                <label>Launch Year</label>
                <p>{{(productInfo?.launch_year+ '') || 'N.A' | titlecase }}</p>
            </li>
            <li class="list-items">
                <label>Warranty</label>
                <p>2 Years</p>
            </li>
        </ul>
    </div>
</div>