<div class="row">
    <div class="col-md-6">
        <p class="text-base color-dark mb-1">
            Start Count
        </p>
        <h4 class="text-xxl color-dark font-weight-bold mb-0">
            {{timerHistory | actionCounter : 'start'}}
        </h4>
    </div>
    <div class="col-md-6">
        <p class="text-base color-dark mb-1">
            Pause Count
        </p>
        <h4 class="text-xxl color-dark font-weight-bold mb-0">
            {{timerHistory | actionCounter : 'pause'}}
        </h4>
    </div>
</div>